.chat-item {
    width: 100%;
    float: left;

    .chat-bubble {
        border-radius: 5px;
        display: inline-block;
        padding: 5px;
        position: relative;
        margin: 10px;
        max-width: 80%;

        .text {
            padding: 10px 18px;
        }

        .voice-record {
            width: 70vh;
            display: inline-flex;
            text-align: right;

            ion-range {
                width: 60%;
                right: 15px;

                .range-knob {
                    border-radius: 0;
                    left: 20px;
                    top: 8px;
                    width: 3px;
                    height: 25px;
                }
            }

            .current-time {
                bottom: 5px;
                right: 5px;
                position: absolute;
            }

            button,
            ion-range  {
                margin: auto 3px;
            }

            button {
                width: 50px;
                max-width: 50px;
            }
        }

        .image {
            width: 50vh;

            img {
                width: 80%;
            }
        }
    }

    .chat-bubble.left {
        background-color: $chat-balloon-sender;
        float: left;
        margin-left: 10px;

        > :before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-left: 10px solid transparent;
            border-bottom: 10px solid $chat-balloon-sender;
            border-radius: 0px 0px 0px 7px;
            top: 50%;
            left: -10px;
        }

    }

    .chat-bubble.right {
        background-color: $chat-balloon-receiver;
        color: $dark;
        float: right;
        margin-right: 10px;

        > :before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $chat-balloon-sender;
            border-radius: 0px 0px 7px 0px;
            top: 50%;
            right: -10px;
        }
    }
}
